{erl_opts, [debug_info]}.
{deps, []}.
{cover_enabled, true}.

%%------------------------------------------------------------------------------
%% EDoc configuration
%%------------------------------------------------------------------------------
{edoc_opts, [
    %% Generate relative links (avoid absolute "/home/runner/..." paths)
    {source_root, ".."}
]}.
